# =====================
# 项目通用忽略规则
# =====================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# =====================
# IDE/编辑器配置
# =====================
.idea/
.vscode/
*.iml
*.suo
*.userprefs
*.sublime-workspace

# =====================
# 版本控制相关
# =====================
uv.lock
.vagrant/
.history

# =====================
# 临时文件/日志
# =====================
*.log
*.tmp
*.temp